*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Caudex', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Outfit', sans-serif;
  }
  
  body {
  
    --text-primary-for-dark-mode:#F3F3F3;
    --text-secondary-for-dark-mode:#B0B0B0;
    --text-tertiary-for-dark-mode:#9F9F9F;
  
    --background-primary-for-dark-mode:#06070D;
    --background-secondary-for-dark-mode:#141622;
  
    --overlay-background-in-hero-section:radial-gradient(ellipse at bottom, #081A34 0%, #0C0E1A 50%);
    --floating-image-background:#141622;
    --portfolio-card-background: linear-gradient(93deg, #191C22 -1.28%, #292D36 99.56%);
    --portfolio-category-tag:rgba(255, 255, 255, 0.06);
    --toogle-background:#2C2E3B;
    --service-card-hover:linear-gradient(191deg, rgba(0, 163, 255, 0.21) -15.1%, rgba(0, 17, 35, 0.44) 78.06%), #000A1A;
  
    --border-line-one-for-dark-mode:#686868;
  
    --primary-color-for-dark-mode:#00A3FF;
  
    --button-color:linear-gradient(93deg, #00A3FF -50.5%, #0035BC 133.79%);
    --button-in-portfolio-section:rgba(153, 218, 255, 0.75);
  
    --navbar-shadow-color:rgba(0, 163, 255, 0.1);
    --service-icon-color:#ffffff;
    --service-card-shadow:rgba(185, 185, 185, 0.0);
    --empty-space:rgba(255, 255, 255, 0.17);
  
  }
  body.light-mode {
  
    --text-primary-for-dark-mode:#0A0911;
    --text-secondary-for-dark-mode:#666666;
    --text-tertiary-for-dark-mode:#A7A7A7;
  
    --background-primary-for-dark-mode:#ffffff;
    --background-secondary-for-dark-mode:#f6f6f6;
    --overlay-background-in-hero-section:radial-gradient(ellipse at bottom, #f3f6ff 0%, #f9fbff 50%);
    --floating-image-background:#E8E8E8;
    --portfolio-card-background:linear-gradient(143deg, #E1E1E1 5%, rgba(245, 245, 245, 0.50) 40%), #FFF;
    --toogle-background:#e1e1e1;
    --portfolio-category-tag:rgba(65, 65, 65,0.06);
    --service-card-hover:linear-gradient(227deg, #C7D8FF 0%, rgba(230, 236, 250, 0.40) 90%), #f6f6f6;
  
  
    --border-line-one-for-dark-mode:#cacaca;
  
    --primary-color-for-dark-mode:#0941CF;
  
    --button-color:linear-gradient(93deg, #00A3FF -50.5%, #0035BC 133.79%);
    --button-in-portfolio-section:#CED9F5;
  
    --navbar-shadow-color:rgba(168, 168, 168, 0.15);
    --service-card-shadow:rgba(185, 185, 185, 0.25);
    --service-icon-color:#0941cf;
    --empty-space:rgba(0, 0, 0, 0.17);
  }
  
  

/* HERO SECTION STARTS HERE */

.container-for-hero-section-in-about-page{
    background-image: url('../Images/aboutmebanner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    width: 100%;
    height: 400px;
    background-position: center;

}
.about-text{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color:#b0b0b0;
    margin: 0;
    padding-bottom: 8px;
    position: relative;
    font-weight: normal;

}

.a-bit-about-me-text{
    font-size: 48px;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    font-weight:500;
    color:#f3f3f3;

}

/* HERO SECTION ENDS HERE */
/* ABOUT SECTION STARTS HERE */

.text-container-in-about{
    padding-left: 24px;
}

.container-for-personal-content-in-about-page{
    padding-top: 75px;
    background: var(--background-primary-for-dark-mode);
    padding-bottom: 80px;

}


.image-container-in-about{
    padding-right: 24px;
}
.hello-text{
    color:var(--primary-color-for-dark-mode);
    font-size: 20px;
    margin: 0;
    padding-bottom: 8px;
    font-family:'Outfit', sans-serif;

}


.i-am-passionate-designer-text{
    font-size: 32px;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    font-weight:500;
    color:var(--text-primary-for-dark-mode);
    padding-bottom: 8px;


}

.based-in-india{
    color: var(--text-secondary-color);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding-bottom: 12px;
    color: var(--text-primary-color);
    font-weight: 500;
}

.based-in-india span{
    font-weight:200;
 
}


.para-in-about-me{
    color: var(--text-secondary-for-dark-mode);
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    line-height: 24px;

}

/* PERSONAL DETAILS STARTS HERE */
.personal-section{
    background-color:var(--background-primary-for-dark-mode);
    padding-bottom: 80px;

}

.parent-container-for-personal-details{
    background-color:var(--background-secondary-for-dark-mode);
    border-radius: 24px;
    padding: 24px;
}

.personal-details-heading-text{
    font-family: 'Outfit', sans-serif;
      color: var(--text-primary-for-dark-mode);
      font-size: 40px;
      font-weight:500;
      margin: 0;
      text-align: left;
      border-bottom: 1px solid var(--border-line-one-for-dark-mode);
      z-index: 1;
      margin-bottom: 40px;
      position: relative;
      padding-bottom: 16px;
  }
  
  
  .personal-details-heading-text::after {
    content: "";
    display: block;
    position: absolute;
    width: 50px; 
    height: 2px;
    background: var(--primary-color-for-dark-mode);
    margin-top: 15px;
  }
  

.left-side-conatiner-for-details, .right-side-conatiner-for-details{
    padding-left: 40px;
    padding-right:40px;
    margin-top:  24px;
}

.left-side-conatiner-for-details{
    border-right: 1px solid var(--border-line-one-for-dark-mode);
}

.name-of-details{
    font-size: 18px;
    font-weight: normal;
    color: var(--text-primary-for-dark-mode);
    margin: 0;
    font-family: 'Lato', sans-serif;

}


.value-of-details{
    font-size: 18px;
    font-weight: normal;
    color: var(--text-secondary-for-dark-mode);
    margin: 0;
    font-family: 'Lato', sans-serif;
    

}


.bengali-language-skill-container span, .english-language-skill-container span, .hindi-language-skill-container span {
    background-color:var(--primary-color-for-dark-mode);
    height: 6px;
    width: 100%;
    margin-right: 8px;
}

.bengali-language-skill-container, .english-language-skill-container, .hindi-language-skill-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    overflow: hidden;
    border-radius: 8px;
}
.bengali, .english, .hindi{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: var(--text-tertiary-for-dark-mode);
    margin: 0;
    padding-bottom: 8px;
}

.bengali-language-skill-container span:nth-child(1) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.bengali-language-skill-container span:nth-child(5) {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

}



.english-language-skill-container span:nth-child(1) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.english-language-skill-container span:nth-child(5) {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color:var(--empty-space);

}


.hindi-language-skill-container span:nth-child(1) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.hindi-language-skill-container span:nth-child(5) {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color:var(--empty-space);

}

.hindi-language-skill-container span:nth-child(4) {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color:var(--empty-space);

}
/* PERSONAL DETAILS ENDS HERE */

/* INTERESTS SECTION STARTS HERE */
.parent-container-for-interested-section{
    background-color: var(--background-secondary-for-dark-mode);
    padding-top: 75px;
    padding-bottom: 75px;

}

.interests-text{
    font-family: 'Outfit', sans-serif;
      color: var(--text-primary-for-dark-mode);
      font-size: 40px;
      font-weight:500;
      margin: 0;
      text-align: left;
      border-bottom: 1px solid var(--border-line-one-for-dark-mode);
      z-index: 1;
      margin-bottom: 16px;
      position: relative;
      padding-bottom: 16px;
  }
  
  
  .interests-text::after {
    content: "";
    display: block;
    position: absolute;
    width: 50px; 
    height: 2px;
    background: var(--primary-color-for-dark-mode);
    margin-top: 15px;
  }
  

.Interests-paragraph{
    color: var(--text-secondary-for-dark-mode);
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    text-align: left;
    margin: 0;
    margin-bottom: 40px;
}


.Interests-image-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 24px;
}



.Interests-name{
    position: absolute;
    color: var(--text-primary-color);
    font-family: 'Caudex', serif;
    font-size: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0.35%, #000 113.92%);
    padding: 24px 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0;
    transition: all 0.35s ease;
    transform: translateY(100%);
    bottom: -1px;
   

}


.prev-and-next-button{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  height: 30px;
  width: 80px;
}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 0px !important;
}

.swiper-navBtn i{
    font-size: 24px;
    color: var(--text-secondary-for-dark-mode);

}

.swiper-navBtn i:hover{
   color: var(--primary-color-for-dark-mode);
}

.swiper-button-next, .swiper-button-prev {
    position: relative !important;
    height: auto !important;
  margin-top: 0px !important;
  top: 0 !important;
}

.swiper-button-next{
    right: 0 !important;
}

.swiper-button-prev{
    left: 0 !important;
}

.swiper-slide{
    border: none;
border-radius: 16px;
overflow: hidden;
    background-color: transparent;

}


.swiper-slide img{
    object-fit: cover;
    height: 250px;
}

.swiper-pagination{
    position: inherit !important;
    transform: translateX(0%) !important;
}

.swiper-pagination-bullet-active{
    background-color:white;
}
.swiper-pagination-bullet{
    background-color:var(--text-primary-for-dark-mode) !important;
    height: 10px !important;
    width: 10px !important;
}

.slide-container {
    overflow: hidden;
  }

