*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Caudex', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Outfit', sans-serif;
}

body {

  --text-primary-for-dark-mode:#F3F3F3;
  --text-secondary-for-dark-mode:#B0B0B0;
  --text-tertiary-for-dark-mode:#9F9F9F;

  --background-primary-for-dark-mode:#06070D;
  --background-secondary-for-dark-mode:#141622;

  --overlay-background-in-hero-section:radial-gradient(ellipse at bottom, #081A34 0%, #0C0E1A 50%);
  --floating-image-background:#141622;
  --portfolio-card-background: linear-gradient(93deg, #191C22 -1.28%, #292D36 99.56%);
  --portfolio-category-tag:rgba(255, 255, 255, 0.06);
  --toogle-background:#2C2E3B;
  --service-card-hover:linear-gradient(191deg, rgba(0, 163, 255, 0.21) -15.1%, rgba(0, 17, 35, 0.44) 78.06%), #000A1A;

  --border-line-one-for-dark-mode:#686868;

  --primary-color-for-dark-mode:#00A3FF;

  --button-color:linear-gradient(93deg, #00A3FF -50.5%, #0035BC 133.79%);
  --button-in-portfolio-section:rgba(153, 218, 255, 0.75);

  --navbar-shadow-color:rgba(0, 163, 255, 0.1);
  --service-icon-color:#ffffff;
  --service-card-shadow:rgba(185, 185, 185, 0.0);


}
body.light-mode {

  --text-primary-for-dark-mode:#0A0911;
  --text-secondary-for-dark-mode:#666666;
  --text-tertiary-for-dark-mode:#A7A7A7;

  --background-primary-for-dark-mode:#ffffff;
  --background-secondary-for-dark-mode:#f6f6f6;
  --overlay-background-in-hero-section:radial-gradient(ellipse at bottom, #f3f6ff 0%, #f9fbff 50%);
  --floating-image-background:#E8E8E8;
  --portfolio-card-background:linear-gradient(143deg, #E1E1E1 5%, rgba(245, 245, 245, 0.50) 40%), #FFF;
  --toogle-background:#e1e1e1;
  --portfolio-category-tag:rgba(65, 65, 65,0.06);
  --service-card-hover:linear-gradient(227deg, #C7D8FF 0%, rgba(230, 236, 250, 0.40) 90%), #f6f6f6;


  --border-line-one-for-dark-mode:#cacaca;

  --primary-color-for-dark-mode:#0941CF;

  --button-color:linear-gradient(93deg, #00A3FF -50.5%, #0035BC 133.79%);
  --button-in-portfolio-section:#CED9F5;

  --navbar-shadow-color:rgba(168, 168, 168, 0.15);
  --service-card-shadow:rgba(185, 185, 185, 0.25);
  --service-icon-color:#0941cf;
}



.container-for-hero-section-in-portfolio-page{
    background-image: url('../Images/portfoliobanner.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:36px;
    width: 100%;
    height: 400px;
    

}

.about-text{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color:#b0b0b0;
    margin: 0;
    padding-bottom: 8px;
    position: relative;
    font-weight: normal;

}

.a-bit-about-me-text{
    font-size: 48px;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    font-weight:500;
    color:#F3f3f3;

}

/* PORTFOLIO SECTION STARTS HERE */
.parent-container-for-portfolio-section{
  background-color: var(--background-secondary-for-dark-mode) !important;
  padding-top: 40px !important;


}



.portfolio-items{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-for-portfolio{
border-radius: 60px;
background:var(--background-primary-for-dark-mode);
padding: 8px 12px;
width: 40%;
position: sticky;
top: 70px;
backdrop-filter: blur(20.5px);
z-index: 2;
border-width:2px;
border: 1px solid ; 
 border: 1px solid rgba(11, 11, 19, 0.1);,
}

.nav-for-portfolio .nav-item .nav-link{
color:var(--text-tertiary-for-dark-mode);
 font-family: 'Lato', sans-serif;
font-size: 14px;
font-style: normal;
padding: 8px 12px;
text-transform: none !important;
}

.nav-for-portfolio .nav-item .nav-link:hover{
 color:var(--text-primary-for-dark-mode);
}

.nav-for-portfolio .nav-item .nav-link.active{
  background:var(--primary-color-for-dark-mode);
color: white;
border-radius: 50px;
box-shadow: inset 0px 0px 4px 2px rgba(168, 128, 255, 0.1);
}

.container-for-portfolio-content{
  border-radius: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 16px;
  background-color: var(--background-color-two) !important;

}

#casestudy, #uidesign, #uidev, #Branding{
  padding: 0 !important;
}

.portfolio-container{
  margin-top: 32px;
}

.portfolio-content-details {
  background:var(--portfolio-card-background);
  display: block;
  border-radius: 16px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid rgba(11, 11, 19, 0.1);
}


.photo-wrapper img {
    width: 100%;
    height: auto;

}

.text-container-for-portfolio-content {
    padding: 10px;
}

.portfolio-name {
    margin: 0;
}



.container-for-portfolio-content:hover{
  background: linear-gradient(93deg, #171b22 -1.28%, #2d3036 99.56%, #21252C 99.56%);
}

.portfolio-content{

}

.photo-wrapper{
  overflow: hidden;
}

#portfolio-image{
  width: 100%; 
  height: auto;
  transition: 1s;
}
.portfolio-content-details:hover #portfolio-image{
  transform: scale(1.1);
}

.text-container-for-portfolio-content{
  padding: 16px 16px;
}

.portfolio-category-tag{
  color: var(--text-secondary-for-dark-mode);
  font-size: 14px;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  padding: 4px 8px;
  border-radius: 8px;
  background:var(--portfolio-category-tag);

}

.portfolio-name{
  font-size: 24px;
  font-family: 'Outfit', sans-serif;
  color: var(--text-primary-for-dark-mode);
  font-weight: normal;
  padding-right: 8px;

}
.button-in-portfolio {
  position: relative;
  border-radius: 41px;
  background:var(--button-in-portfolio-section);
  padding: 15px 20px;
  transition: transform 0.3s ease-out;
}

.button-in-portfolio i {
  position: relative; 
  font-size: 20px;
  color: #0A0911;
  font-weight: bold;
  z-index: 1;
}

.button-in-portfolio::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 100%;
  z-index: 0; /* Ensure the ::before pseudo-element is behind the icon */
}

.portfolio-content-details:hover .button-in-portfolio::before {
  height: 100%;
  background:var(--primary-color-for-dark-mode)
}



.more-this-way-button{
  border-radius: 4px;
  border: none;
  background: var(--color-button-2, linear-gradient(93deg, #00A3FF -50.5%, #0035BC 133.79%));
  color:var(--text-primary-color);
  font-family:'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  padding: 8px 12px 8px 16px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid rgb(0, 162, 255,0.1);
  margin-top: 32px;
  height: 44px;
  text-transform: uppercase;
}



.download-resume-button-container{
display: flex;
justify-content: start;
align-items: center;
}
.more-this-way-button i{
margin-left: 8px;

}

.more-this-way-button:hover {
color: white;
background: transparent;
background: rgba(0, 163, 255, 0.10);
border: 1px solid rgb(0, 162, 255);


}

.more-this-way-button:before {
content: "";
position: absolute;
top: 0;
left: -100%;
width: 100%;
height: 100%;
background: linear-gradient(
  120deg,
  transparent,
  rgba(146, 148, 248, 0.4),
  transparent
);
transition: all 650ms;
}

.more-this-way-button:hover:before {
left: 100%;
}


.more-this-way-button i{
  margin-left: 8px;
  font-size: 20px;
color: var(--text-primary-color);
font-weight: bold;

  
}