*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Caudex', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Outfit', sans-serif;
}

body {

  --text-primary-for-dark-mode:#F3F3F3;
  --text-secondary-for-dark-mode:#B0B0B0;
  --text-tertiary-for-dark-mode:#9F9F9F;

  --background-primary-for-dark-mode:#06070D;
  --background-secondary-for-dark-mode:#141622;

  --overlay-background-in-hero-section:radial-gradient(ellipse at bottom, #081A34 0%, #0C0E1A 50%);
  --floating-image-background:#141622;
  --portfolio-card-background: linear-gradient(93deg, #191C22 -1.28%, #292D36 99.56%);
  --portfolio-category-tag:rgba(255, 255, 255, 0.06);
  --toogle-background:#2C2E3B;
  --service-card-hover:linear-gradient(191deg, rgba(0, 163, 255, 0.21) -15.1%, rgba(0, 17, 35, 0.44) 78.06%), #000A1A;

  --border-line-one-for-dark-mode:#686868;

  --primary-color-for-dark-mode:#00A3FF;

  --button-color:linear-gradient(93deg, #00A3FF -50.5%, #0035BC 133.79%);
  --button-in-portfolio-section:rgba(153, 218, 255, 0.75);

  --navbar-shadow-color:rgba(0, 163, 255, 0.1);
  --service-icon-color:#ffffff;
  --service-card-shadow:rgba(185, 185, 185, 0.0);
  --service-card-background:linear-gradient(93deg, #262B35 -1.28%, #171B22 99.56%, #21252C 100%);
  --border-line-in-education-section: #20222E;
  --shadow-in-education-section: rgba(212, 212, 212, 0.0);
  --skills-wave-background: linear-gradient(180deg, rgba(18, 83, 157, 0.10) 0.22%, rgba(0, 27, 58, 0.00) 99.78%);

}
body.light-mode {

  --text-primary-for-dark-mode:#0A0911;
  --text-secondary-for-dark-mode:#666666;
  --text-tertiary-for-dark-mode:#A7A7A7;

  --background-primary-for-dark-mode:#ffffff;
  --background-secondary-for-dark-mode:#f6f6f6;
  --overlay-background-in-hero-section:radial-gradient(ellipse at bottom, #f3f6ff 0%, #f9fbff 50%);
  --floating-image-background:#E8E8E8;
  --portfolio-card-background:linear-gradient(143deg, #E1E1E1 5%, rgba(245, 245, 245, 0.50) 40%), #FFF;
  --toogle-background:#e1e1e1;
  --portfolio-category-tag:rgba(65, 65, 65,0.06);
  --service-card-hover:linear-gradient(227deg, #C7D8FF 0%, rgba(230, 236, 250, 0.40) 90%), #f6f6f6;
  --skills-wave-background: linear-gradient(180deg, rgba(9, 65, 207, 0.31) 0.22%, rgba(9, 65, 207, 0.00) 59.51%);

  --border-line-one-for-dark-mode:#cacaca;

  --primary-color-for-dark-mode:#0941CF;

  --button-color:linear-gradient(93deg, #00A3FF -50.5%, #0035BC 133.79%);
  --button-in-portfolio-section:#CED9F5;

  --navbar-shadow-color:rgba(168, 168, 168, 0.15);
  --service-card-shadow:rgba(185, 185, 185, 0.25);
  --service-icon-color:#0941cf;
  --service-card-background:#ffffff;
  --border-line-in-education-section: rgba(11, 11, 19, 0.1);
  --shadow-in-education-section: rgba(212, 212, 212, 0.15);
}


.container-for-hero-section-in-resume-page{
    background-image: url('../Images/resemebanner.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 36px;
    width: 100%;
    height: 400px;
    background-position: center;
    

}

.about-text{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #b0b0b0;
    margin: 0;
    padding-bottom: 8px;
    position: relative;

}

.professional-background-text{
    font-size: 48px;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    font-weight: 500;
    color:#f3f3f3;

}
.text-container-in-about{
    padding-left: 24px;
}

/* WHAT I DO SECTION SRARTS HERE */
.parent-container-for-what-i-do-section{
background-color:var(--background-secondary-for-dark-mode);
padding-top: 75px;
padding-bottom: 80px;

}
.what-i-do-parent-container-for-text{
    padding-right:24px;
}

.what-i-do-parent-container-for-service{
    padding-left: 24px;
}
.sticky-container {
    position: sticky;
    top: 70px;
}

.what-i-do{
  font-family: 'Outfit', sans-serif;
    color: var(--text-primary-for-dark-mode);
    font-size: 40px;
    font-weight:500;
    margin: 0;
    text-align: left;
    border-bottom: 1px solid var(--border-line-one-for-dark-mode);
    z-index: 1;
    margin-bottom: 16px;
    position: relative;
    padding-bottom: 16px;
}


.what-i-do::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px; 
  height: 2px;
  background: var(--primary-color-for-dark-mode);
  margin-top: 15px;
}


.what-i-do-para{
    font-size: 16px;
    font-weight: normal;
    color: var(--text-secondary-for-dark-mode);
    margin: 0;
    font-family: 'Lato', sans-serif;
    line-height: 24px;
}

.skill-name{
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background:var(--portfolio-category-tag);
    color: var(--text-secondary-for-dark-mode);
    font-size: 14px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
   
}

.icon-in-what-i-do{
    height: 56px;
    margin-right: 16px;
}

.container-for-what-i-do-card svg{
 
  width: 48px;
  margin-right: 16px;
}
.container-for-what-i-do-card svg #Vector{
  fill:var(--service-icon-color);
}

.ui-sedign-text{
    font-size: 24px;
    color:var(--text-primary-for-dark-mode);
    font-weight: 500;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

.parent-container-for-what-i-do-card{
    position: relative;
margin-bottom: 16px;
align-items: center;

}

.parent-container-for-what-i-do-card:hover{
  
}

.container-for-what-i-do-card{
    background:var(--service-card-background);
padding: 16px;
border-radius: 16px;
padding-left: 20px;
position: relative;
z-index: 1;
transition: background-color 0.3s ease;
}
.container-for-what-i-do-card:hover{
  transform: translateY(-2px);
    transition: transform 0.3s ease-in-out;
}


.background{
    border-radius: 24px;
    background: var(--color-button-2, linear-gradient(93deg, #00A3FF -50.5%, #0035BC 133.79%));
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: -36px;
}


/* WHAT I DO SECTION ENDS HERE */
/* EDUCATION AND EXPERIENCE STARTS HERE */
.parent-container-for-education-and-experience{
    background-color:var(--background-primary-for-dark-mode);
    padding-top: 75px;
    padding-bottom: 80px;
   
}


.parent-container-for-education{
  margin-right: 8px;


}

.education-icon-container, .office-icon-container{
    background:var(--primary-color-for-dark-mode) ;
    color: var(--text-primary-color);
   height: 32px;
   width: 32px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.education-icon-container i, .office-icon-container i{
    font-size: 16px;
    color: #F3f3f3;
}

.education, .experience{
  font-family: 'Outfit', sans-serif;
  color: var(--text-primary-for-dark-mode);
  font-size: 40px;
  font-weight:500;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid var(--border-line-one-for-dark-mode);
  z-index: 1;
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 16px;
  width: 100%;
}


.education::after{
  content: "";
  display: block;
  position: absolute;
  width: 50px; 
  height: 2px;
  background: var(--primary-color-for-dark-mode);
  margin-top: 15px;
}

.experience::after{
  content: "";
  display: block;
  position: absolute;
  width: 50px; 
  height: 2px;
  background: var(--primary-color-for-dark-mode);
  margin-top: 15px;
}





.parent-container-for-experience{
  margin-left: 8px;

}
.year{
    font-size: 12px;
    color:var(--text-secondary-for-dark-mode);
    border-radius: 26px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.year-for-ex{
    font-size: 12px;
    color: var(--text-secondary-color);
    padding: 4px 12px;
    border-radius: 26px;
    background-color: rgb(2, 125, 247, 10%);
    margin-bottom: 16px;
    font-family: 'Lato', sans-serif;
    box-shadow: inset 0px 0px 4px 2px rgba(168, 128, 255, 0.1);
}

.degree-name{
   color:var(--text-primary-for-dark-mode);

    font-size: 24px;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    font-weight:500;
    padding-bottom: 8px;
}

.institution-name{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: var(--text-secondary-for-dark-mode);
    padding-bottom: 6px;
    font-weight: normal;
    margin: 0;

}

.place{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: var(--text-secondary-for-dark-mode);
    font-weight: normal;
    margin: 0;

}

.separate-education-container{
    margin-bottom: 16px;
    border: 1px solid var(--border-line-in-education-section);
    border-radius: 16px;
    box-shadow: 0px 2px 12px 0px var(--shadow-in-education-section);
    padding: 24px;

}



/* EDUCATION AND EXPERIENCE ENDS HERE */

/* SKILLS SECTION STARTS HERE */

.parent-container-for-skills{
  background-color: var(--background-secondary-for-dark-mode);
  padding-top: 75px;
  padding-bottom: 80px;
}
.skills{
  font-family: 'Outfit', sans-serif;
  color: var(--text-primary-for-dark-mode);
  font-size: 40px;
  font-weight:500;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid var(--border-line-one-for-dark-mode);
  z-index: 1;
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 16px;

}

.skills::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px; 
  height: 2px;
  background: var(--primary-color-for-dark-mode);
  margin-top: 15px;
  }
  

/* SKILLS SECTION ENDS HERE */


.imgContainer {
  position: relative;
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
   background:var(--skills-wave-background);

}











.bottle {
  position: absolute;
  left: 50%;
  top: 35px;
  height: 64px;
  width: 64px;
  transform: rotate(25deg);
  -webkit-animation: floating 1.75s ease-in-out infinite alternate;
          animation: floating 1.75s ease-in-out infinite alternate;
}
.imgContainer img.wave {
  -webkit-animation: wave 2.3s linear infinite;
          animation: wave 2.3s linear infinite;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  position: absolute;
  bottom: 0;
  width: 200%;
}
.imgContainer img.wave.delay {
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}

@-webkit-keyframes wave {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes wave {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@-webkit-keyframes floating {
  from {
    transform: translate(-50%, 10px);
  }
  to {
    transform: translate(-50%, -10px);
  }
}
@keyframes floating {
  from {
    transform: translate(-50%, 10px);
  }
  to {
    transform: translate(-50%, -10px);
  }
}

.skills-name{
  font-size: 20px;
  font-weight: normal;
  color: var(--text-primary-for-dark-mode);
  margin: 0;
  padding-top: 8px;
  font-family: 'Outfit', sans-serif;
}

.percentage-value{
  color: var(--text-secondary-for-dark-mode);
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding-top: 8px;



}





